@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "night";
  default: true;
  --color-primary: #eff1f5;
  --color-secondary: teal;
}

:root {
  --background: #1e1e2e;
  --background-light: #fcebf3;
  --text: #eff1f5;
  --header: "Pacifico", cursive;
  --body: "Josefin Sans", sans-serif;
}

html {
  background-color: var(--background);
  color: var(--text);
}

body {
  max-width: 540px;
  margin: 0 auto;
  text-align: justify;
  padding: 1rem;
  font-family: var(--body);
}

* {
  box-sizing: border-box;
}

/* shows and hides navlinks on mobile view */
.expanded {
  display: unset;
}
