---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "My Blog"

const pagesList = [
  {
    id: 1,
    name: "Page 1"
  },
  {
    id: 2,
    name: "Page 2"
  },
  {
    id: 3,
    name: "Page 3"
  }
]
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  {pagesList.map((page) => (
    <li>
      <a href={`/posts/post-${page.id}/`}>{page.name}</a>
    </li>
  ))}
</BaseLayout>