---
---
<div class="hamburger flex flex-col gap-2 sm:hidden">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    .hamburger {
      cursor: pointer;
    }

    .hamburger .line {
      row-gap: 5px;
      width: 2.4rem;
      height: 5px;
      background-color: white;
    }
</style>