---
---
<nav class="mt-4 flex justify-center w-full sm:mt-0 sm:w-auto">
    <div class="hidden nav-links font-bold sm:flex">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
    </div>
</nav>

<style>
    .nav-links > a {
      padding: 0rem 1rem;
    }
    .nav-links > a:hover {
      text-decoration-line: underline;
    }
</style>
