---

---

<style>
    nav {
        background: snow;
        width: 100%;
        padding: 1rem;
    }
</style>
<nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</nav>
