---
const { platform, username} = Astro.props;
---
<a class="bg-white p-2 border-[#e5e5e5] rounded-full hover:bg-green" href={`https://www.${platform}.com/${username}`}>
  <img class="w-8" src={`./public/icons/${platform}Icon.svg`} />
</a>

