---
const { platform, username} = Astro.props;
---

<button class="btn bg-white text-black border-[#e5e5e5]">
  <img class="w-5" src={`./public/icons/${platform}Icon.svg`} />
  <a href={`https://www.${platform}.com/${username}`}>{platform}</a>
</button>
